<div class="row">
	<div class="col-md-9">
		<!-- <div class="panel panel-default">
		  <div class="panel-heading">审批岗位</div>
		  	<div class="panel-body">

				</div>
			</div>
		</div> -->
		<div class="table-responsive">
			<table class="table table-hover table-bordered table-condensed">
				<thead>
					<tr>
						<th>岗位名称</th>
						<th></th>
					</tr>
				</thead>
			  <tbody>
					<%= render @userpositions %>
			  </tbody>
			</table>
		</div>
		<div class="well">
			<%= link_to '新建岗位', new_userposition_path, :class => 'btn btn-primary' %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="alert alert-warning alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <h4>帮助</h4>
		  审批岗位是指各级流程办理人员的审批权限。
		</div>
	</div>
</div>
