<div class="page-header">
	<h3>审批岗位</h3>
</div>
<div class="row-fluid">
	<div class="span9">
		<table class="table table-bordered table-hover table-condensed">	
			<thead>
				<tr>
		      <th>岗位名称</th>
		    </tr>
			</thead>
		  <tbody>
				<%= render @userpositions %>
		  </tbody>
		</table>
		<div class="form-actions">
			<%= link_to '新建岗位', new_userposition_path, :class => 'btn btn-primary pull-right' %>
		</div>
	</div>
	<div class="span3">
		<div class="well">
			帮助
		</div>
	</div>
</div>
