<br/><br/><br/>
<ul class="breadcrumb">
  <li>
    <%= link_to "", root_path, :class => "icon-home" %>
	<span class="divider">•</span>
	<li class="active"><strong><%= @title %></strong></li>
  </li>
</ul>