<!-- <div class="page-header">
	<h1>帮助</h1>
</div> -->
<div class="hero-unit">
	<p>
		<strong>营销人员综合管理系统</strong><br/>
		本系统为内部使用，请注意相关资料保密。<br/>
		如有使用和操作上的问题，请联系系统管理员。<br/>
		请使用IE8.0及以上，或Chrome Safari 360极速浏览器访问和使用本系统。
	</p>
	<p>
		<strong>更新日志</strong><br/>
		<small>2014-01-06 管理人员设置系统权限更新</small><br/>
		<small>2013-12-16 用户管理查询功能更新</small><br/>
		<small>2013-11-28 界面样式调整</small><br/>
		<small>2013-11-25 系统上线</small>
	</p>
</div>