<div class="row-fluid">
	<div class="span9">
		<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
			<div class="form-actions">
				<%= f.submit "чбошод", :class => 'btn btn-primary' %>
			</div>
		<% end %>
	</div>
	<div class="span3">
		
	</div>
</div>


