<div class="row-fluid">
	<div class="span9 well">
		<legend><p class="lead text-center muted">任务发起</p></legend>
		<%= simple_form_for @custservvisit, :html => { :class => 'form-horizontal' } do |f| %>
			<%= render 'fields', :f => f %>
			<div class="form-actions">
				<%= f.submit "确认", :class => 'btn btn-primary' %>
				<%= link_to '取消', root_path, :class => 'btn' %>
			</div>
		  </fieldset>
		<% end %>
		</div>
		<div class="span3">
			<div class="alert alert-block">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <h4>帮助</h4>
			  工作流程在此处定义。
			</div>
		</div>
</div>