<blockquote>
  <p><%= link_to Workflow.find(workflowexe.workflow_id).name, workflowex_path(workflowexe) %> <%= workflowexe.custservvisit.cust_name %></p>
  <small><%= workflowexe.custservvisit.plan_date.to_s(:db) %></small>
</blockquote>