<tr>
	<td><%= link_to role.role_name, edit_role_path(role) %></td>
	<% if current_user.admin? %>
	<td>
		<%= link_to "删除", role_path(role), :method => :delete, :confirm => '确认删除该角色?', 
										   :class => 'btn btn-mini btn-danger' %>
	</td>
	<% end %>
</tr>