<ul class="thumbnails inline">
	<li class="span4">
    <div class="thumbnail">
			<%= image_tag("rails.png", :alt => "营销综合管理") %>
    </div>
  </li>
	<li>
		  <h4>湖美景</h4>
		  <p class="muted">二级</p>
	</li>
</ul>
<ul class="inline">
	<li><strong>代码：</strong></li>
	<li></li><br/>
	<li><strong>状态：</strong></li>
	<li></li><br/>
	<li><strong>年龄：</strong></li>
	<li></li><br/>
	<li><strong>性别：</strong></li>
	<li></li><br/>
	<li><strong>手机：</strong></li>
	<li></li><br/>
	<li><strong>邮箱：</strong></li>
	<li></li><br/>
</ul>
<ul class="common-divider"></ul>
<!-- <ul class="inline"> -->
<% if User.find(@broker.user_id) == currnet_user %>
	<p class="text-center"><%= link_to '新建工作', workflows_path, :class => 'btn btn-success' %></p>
<% end %>
<!-- </ul> -->